*{
    margin:0;
    padding:0;
    height: 100%;
    width: 100%;
}

body {
    background-color:#bababa;
    background-image: -webkit-radial-gradient(600px 300px, circle, #ffffff, #bababa 60%);
    background-image: -moz-radial-gradient(600px 300px, circle, #ffffff, #bababa 60%);
    background-image: -o-radial-gradient(600px 300px, circle, #ffffff, #bababa 60%);
    background-image: radial-gradient(600px 300px, circle, #ffffff, #bababa 60%);
    color:#fff;
    font-family: arial,sans-serif;
}

#display {
    width: 800px;
    height: 600px;
    
}
.container {
    position: absolute;
    width:800px;
    height:600px;
    left: 50%;
    top: 50%;
    
    margin-left: -401px;
    margin-top: -301px;
    border: white rgba(255,255,255,0.8) solid;
    background: rgba(0,0,0,0.2);
    
}

#info {
    position:absolute;
    left: 0px;
    top: 14px;
}
#info.collapsed {
    color: #AAA;
    text-align: center;
    font-size:12px;
    width: 14px;
    height: 60px;
    border: solid 1px #202020;
    border-left: 0;
    border-radius: 0 4px 4px 0;
    background: #4c4c4c;
    background: -moz-linear-gradient(left,  #4c4c4c 0%, #595959 37%, #5e5e5e 57%, #474747 84%, #2c2c2c 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#4c4c4c), color-stop(37%,#595959), color-stop(57%,#5e5e5e), color-stop(84%,#474747), color-stop(100%,#2c2c2c));
    background: -webkit-linear-gradient(left,  #4c4c4c 0%,#595959 37%,#5e5e5e 57%,#474747 84%,#2c2c2c 100%);
    background: -o-linear-gradient(left,  #4c4c4c 0%,#595959 37%,#5e5e5e 57%,#474747 84%,#2c2c2c 100%);
    background: -ms-linear-gradient(left,  #4c4c4c 0%,#595959 37%,#5e5e5e 57%,#474747 84%,#2c2c2c 100%);
    background: linear-gradient(to right,  #4c4c4c 0%,#595959 37%,#5e5e5e 57%,#474747 84%,#2c2c2c 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4c4c4c', endColorstr='#2c2c2c',GradientType=1 );
}


.vertical-text {
     margin-left: auto;
 	margin-right: auto;
 	display: table;
}
.vertical-text>* {
    margin:   0 0 -2px -1px ; 
}